<div class="container mt-5">
  <h1>API test app</h1>
  <p>
    Use this endpoint to POST the CSV file:<br>
    <%= api_v1_events_url %>
  </p>

  <p>
    The request must have content-type multipart/form-data, the key for csv contents is 'report'.<br>
    Add these headers for authentication: X-User-Email, X-User-Token.
  </p>
</div>
